# API Configuration
GROQ_API_KEY=gsk_abcdef1234567890abcd68689hhvhjdttd  # Get from https://console.groq.com/keys , its fake one :)
MODEL_NAME=openai/gpt-oss-120b

# Server Configuration
API_TIMEOUT=30
LOG_LEVEL=INFO
RATE_LIMIT=10/minute
